
extends ../../layouts/default.pug

block main
  div #{user}
  #content
    .container
      div(class = "x swiper mySwiper")
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        .container-firm-hot.swiper-wrapper
            each item in moviesHot
                .firm-hot.swiper-slide
                    a(href= `/phim/${item.slug}`)
                        img.img-firm-hot(src= item.backgound alt='')
                    a(href=`/phim/${item.slug}`)
                        .info-firm
                            .name-img-firm-hot #{item.name}
                            .sub-name-img-firm-hot #{item.nameOther}
        .clear
      .date-time
        .date.active-date-time
          p.text-time-line
            | Mới
          p.text-time-line-sub
            | Cập Nhật
        .date
          p.text-time-line
            | Mon
          p.text-time-line-sub
            | Thứ Hai
        .date
          p.text-time-line
            | Tue
          p.text-time-line-sub
            | Thứ Ba
        .date
          p.text-time-line
            | Wed
          p.text-time-line-sub
            | Thứ Tư
        .date
          p.text-time-line
            | Thu
          p.text-time-line-sub
            | Thứ Năm
        .date
          p.text-time-line
            | Fri
          p.text-time-line-sub
            | Thứ Sáu
        .date
          p.text-time-line
            | Sat
          p.text-time-line-sub
            | Thứ Bảy
        .date
          p.text-time-line
            | Sun
          p.text-time-line-sub
            | Chủ Nhật
        .clear
      .seclection-title
        span Mới Cập Nhật
      .container-new-firm.active-disable
        each item in movies
            .new-firm
                a(href=`/phim/${item.slug}`)
                    img.img-new-firm(src= item.image alt='')
                    .info-new-firm
                        .text-info-new-firm
                          .name-img-new-firm #{item.name}
                          .sub-name-img-new-firm #{item.nameOther}
                p Tập #{item.newEp}


      .page-btn

        
        - for(var i = 1;i <= pagination.totalPage;i++)
            div(
              class = `page ${pagination.currentPage == i ? "active-page" : ""}`
              button-pagination = i
            ) #{i}
        
      

