extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    if(role.permissions.includes("products_create"))
        +alert-error(5000)
        h1(class = "mb-4") Thên phim

        form(
            action= `/admin/products/create`
            id = "form-create-product"
            enctype="multipart/form-data"
            method = "POST"
        ) 

            div(class = "form-group")
                label(for="name") Tên phim
                input(
                    type="text"
                    class = "form-control"
                    id = "name"
                    name = "name"
                )   
            div(class = "form-group")
                label(for="movie_category_id") Danh mục
                select(
                    name = "movie_category_id"
                    id = "movie_category_id"
                    class = "form-control"
                )
                    option(value = "") -----Chọn danh mục-----
                    if(category)
                        +select-tree(category)
            div(class = "form-group form-check form-check-inline")
                input(
                    type="radio"
                    class = "form-check-input"
                    id = "featured1"
                    name = "featured"
                    value = "1"
                ) 
            label(for = "feature1" class = "form-check-label") Phim hot
            div(class = "form-group form-check form-check-inline")
                input(
                    type="radio"
                    class = "form-check-input"
                    id = "featured1"
                    name = "featured"
                    value = "0"
                ) 
            label(for = "feature1" class = "form-check-label") Phim bình thường
            div(class = "form-group")
                label(for="nameOther") Tên khác
                input(
                    type="text"
                    class = "form-control"
                    id = "nameOther"
                    name = "nameOther"
                ) 
            div(class = "form-group")
                label(for="textContent") Nội dung
                textarea(

                    class = "form-control textarea-mce"
                    id = "textContent"
                    name = "textContent"
                    row = "5"   
                ) 
            div(class = "form-group")
                label(for="listCate") Thể loại
                input(
                    type="text"
                    class = "form-control"
                    id = "listCate"
                    name = "listCate"
                ) 

            div(class = "form-group")
                label(for="newEp") Tập mới nhất
                input(
                    type="newEp"
                    class = "form-control"
                    id = "newEp"
                    name = "newEp"
                    value = "0"
                    min = "0"
                ) 
            div(class = "form-group")
                label(for="infoMore") Thông tin khác (năm)
                input(
                    type="text"
                    class = "form-control"
                    id = "infoMore"
                    name = "infoMore"
                ) 
            div(class = "form-group")
                label(for="rate") Đánh giá
                input(
                    type="text"
                    class = "form-control"
                    id = "rate"
                    name = "rate"
                )

            div(class = "form-group")
                label(for="backgound") Background
                input(
                    type="text"
                    class = "form-control"
                    id = "backgound"
                    name = "backgound"
                )

            div(class = "form-group")
                label(for="Showtimes") Thời lượng phim
                input(
                    type="number"
                    class = "form-control"
                    id = "Showtimes"
                    name = "Showtimes"
                    value = "0"
                    min = "0"
                ) 
            
            div(
                class = "form-group"
                upload-image
            )
                label(for="image") Ảnh
                input(
                    type="file"
                    class = "form-control-file"
                    id = "image"
                    name = "image"
                    accept = "image/*"
                    upload-image-input
                ) 
                div(
                    class = "btn-cencel-upload hidden"
                    style = "padding : 5px"
                    cencel-upload
                ) X
                img(
                    src=""
                    class = "image-preview"
                    upload-image-preview
                )
            div(class = "form-group")
                label(for="position") Vị trí
                input(
                    type="text"
                    class = "form-control"
                    id = "position"
                    name = "position"
                    placeholder = "Tự động tăng"
                    min = "1"
                ) 
            div(class = "form-group form-check form-check-inline")
                
                input(
                    type="radio"
                    class = "form-check-input"
                    id = "statusActive"
                    name = "status"
                    value = "active"
                    checked
                ) 
                label(for = "statusActive" class = "form-check-label") Hoạt động 

            div(class = "form-group form-check form-check-inline")
                
                input(
                    type="radio"
                    class = "form-check-input"
                    id = "statusInActive"
                    name = "status"
                    value = "inactive"
                ) 
                label(for = "statusInActive" class = "form-check-label") Dừng hoạt động
            
            div(class = "form-group")
                button(
                    type = "submit"
                    class = "btn btn-primary"
                ) Tạo