
extends ../../layouts/default.pug
include ../../mixins/btn-change-episode.pug
block main
    .container
      .main-content-container
        .content-watch-firm
          .watching
            .movie
              .handle
                video#video(src=`${foundEpisode.v}`)
                i.fa-solid.fa-play.play-video
              .backgrond-video
                if(movie.backgound)
                    img(src= movie.backgound 
                        alt='')
              .setting-speed-video.visible
                .selection-speed
                  ul.speeds
                    li.speed 0.5x
                    li.speed.active-speed 1x 
                    li.speed 1.25x
                    li.speed 1.5x
                    li.speed 2x
              .container-control-video
                .cd
                  input#progress.progress(type='range' value='0' step='1' min='0' max='1000')
                .btn-left
                  .btn-pause.set-btn-left
                    i.fa-solid.fa-pause.pause-video-bottom.set-ti-control-btn.disable
                    i.fa-solid.fa-play.play-video-bottom.set-ti-control-btn
                  .btn-prev-second.set-btn-left
                    i.fa-solid.fa-clock-rotate-left.set-ti-control-btn.set-btn-setting-control-video
                  .btn-audio.set-btn-left.width-btn-audio
                    i.fa-solid.fa-volume-high.set-ti-control-btn.set-btn-setting-control-video
                    .set-volume
                      input#volume.volume(type='range' value='0' step='1' min='0' max='50')
                  .time-line-video
                    .current-video 00:00
                    .total-video
                  .margin-space
                  .btn-next-second.set-btn-left
                    i.fa-solid.fa-rotate-right.set-ti-control-btn.set-btn-setting-control-video
                  .btn-next-ep.set-btn-left
                    i.fa-solid.fa-forward-step.set-ti-control-btn
                  .btn-setting.set-btn-left
                    i.fa-solid.fa-gear.set-ti-control-btn
                  .btn-desktop.set-btn-left
                    i.fa-solid.fa-display.set-ti-control-btn.set-btn-setting-control-video
                  .btn-full-screen.set-btn-left
                    i.fa-solid.fa-up-right-and-down-left-from-center.set-ti-control-btn.set-btn-setting-control-video
                    i.fa-solid.fa-down-left-and-up-right-to-center.set-ti-control-btn.set-btn-setting-control-video.disable
          .change-episode
            +changeEpisode()
        .container-content-more
          section.container
            .seasons
              .btn-season.set-btn-season
                | Phần 1
            .search-ep-qick
              span
                i.fa-solid.fa-magnifying-glass
                | Tìm Tập Nhanh
                i.fa-solid.fa-chevron-down
              span.input-search
                input(type='text' placeholder='Nhap So Tap')
            .episode
             ul.btn-epi
                - for(var i = 1;i <= movie.newEp;i++)
                    li
                        a(href= `/phim/${movie.slug}/${i}`) #{i}
            .time-line
              .container-time
                i.fa-solid.fa-calendar-days
                | Phim chiếu 1 tập vào
                a(href='') Thứ #{movie.Showtimes}
            .comment
              if(user)
                .form-comment
                  .avata-user
                    img(src= movie.avata alt='')
                  .main-form
                    form(action='/phim/comment/{{firmupdate._id}}?_method=PUT')
                      input(type='text' placeholder='Tham Gia Bình Luận' name='comment')
                      .btn-send
                        button Gửi
              else
                .login-to-comment
                  .login
                    .y
                      a(href='/login')
                        i.fa-solid.fa-right-to-bracket
                        span Đăng nhập để bình luận
              .new-comment
                .sort-comment
                  .total-comment
                    span 3.5K
                    |  Bình luận
                  .sort
                    span Mới Nhất
                    i.ti-angle-down.choose
                    .choose-sort.disable
                      span.set-choose-sort Cũ nhất
                      span.set-choose-sort Phổ biến

    script(src="/js/watch.js") 

 

